/* Root Variables */
:root {
    --primary-color: #1A374D;
    --secondary-color: #6998AB;
    --background-color: #F9F9F9;
    --text-color: #1A1A1A;
    --accent-color: #406882;
}


body {
    font-family: 'Family Merriweather', sans-serif;
    color: #333;
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

header img {
    width: 150px;
    height: auto;
}

header h1 {
    color: #fff;
    font-size: 24px;
    text-align: left;
    flex-grow: 1;
    padding: 1rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.hero-content {
    color: var(--secondary-color);
    max-width: 70%;
}

.hero h2 {
    font-size: 40px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    /* All cards have the same width */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}



footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Businesses Section */
.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--accent-color);
    text-align: center;
}
section {
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 0.5rem;

    a {
        font-family: Arial, sans-serif;
        font-size: 0.85rem;
        color: navy;
    }

    h3 {
        font-size: 1.5rem;
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}
/* Adicionando estilos para o menu responsivo */

/* Inicialmente, esconda o menu para telas menores */
#navMenu {
    display: flex;
    gap: 20px;
}

#navMenu a {
    color: white;
    text-decoration: none;
}

#menu {
    display: none;
    /* O botão será escondido em telas maiores */
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Para telas menores (mobile), ocultamos os links e mostramos o menu button */
@media (max-width: 767px) {
    #navMenu {
        display: none;
        /* Esconde o menu de navegação */
        flex-direction: column;
        gap: 10px;
    }

    #menu {
        display: block;
        /* Mostra o menu button */
    }

    #navMenu.open {
        display: flex;
        /* Quando a classe "open" for adicionada, mostramos o menu */
    }
}