@media (min-width: 650px) {
    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        
    }

    #menu {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        align-items: flex-start;
        
    }

    .main-section {
        width: 100%;
       
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 2rem;
       
    }

    section {
        background-color: #fff;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}